<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>
<!-- requires a budget: [{category, budgeted}] -->
<!-- requires a budgetTotal -->
<h1>Budgets</h1>
<hr>
        <div class="top-stats">
        <p>Total budgeted: $<%= budgetTotal %> </p>
        <p>Projected Income: $<%= projectedIncome %> </p>
        <p>left to alocate:$ <%= projectedIncome - budgetTotal %>  </p>
        </div>
        <hr>
        <%- include("./partials/budgetPopEdit.ejs") %>
        <div class="form_div">
                <form class="budget-item-form" name="newBudgetItm" onsubmit="newBudgetItem(this)">
                        <div class="input_div">
                                <label for="category">Category</label>
                                <input type="text" autocomplete="off" name="category" placeholder="Category Name" autofocus required>
                        </div>
                        <div class="input_div">
                                <label for="budgeted">Budget</label>
                                <input type="number" step=".01" name="budgeted" placeholder="100.00" required>
                        </div>
                        <button type="submit">Save</button>
                </form>
        </div>
        <table class="budgets-table">
                <thead>
                        <tr>
                                <th>Category</th>
                                <th>Budget</th>
                        </tr>
                </thead>
                <tbody>
                        <% for (var i = 0; i < budgets.length; i++) { %>
                        <tr>
                                <td><%= budgets[i].category %> </td>
                                <td>$ <%= budgets[i].budget %> </td>
                                <td>
                                        <button class="editButton editButtonBudgets" type="button"
                                        itmId="<%= budgets[i].id %>"
                                        category="<%= budgets[i].category %>"
                                        budget="<%= budgets[i].budget %>"
                                        >Edit</button>
                                </td>
                                <form onsubmit="deleteBudgetItem(this)">
                                        <input name="deleteCategory" value="<%= budgets[i].id %>" hidden>
                                        <input name="deleteName" value="<%= budgets[i].category %>" hidden>
                                        <td><button class="deleteBtn" type="submit">delete</button></td>
                                </form>
                        </tr>
                        <% } %>
                </tbody>
        </table>
        <script src="./js/forms.js"></script>
        <script src="./js/budgetBtns.js"></script>

<%- include("partials/footer.ejs") %>