<%- include("./partials/header.ejs") %>
<%- include("./partials/nav.ejs") %>

<!-- requires a incomes: [{id, incomeName, hourlyRate, taxRate, retirement}], grossIncomeAll, netIncomeAll, utils-->

<h1>Projected Income</h1>
<hr>
<div class="top-stats">
    <p>Gross income: $<%= grossIncomeAll.toFixed(2) %> </p>
    <p>Net income: $<%= netIncomeAll.toFixed(2) %> </p>
</div>
<hr>
<div class="form_div">
    <form name="newIncomeItm" onsubmit="newIncomeItem(this)">
        <div class="input_div">
            <label for="incomeName">Income Name</label>
            <input name="incomeName" type="text" required autofocus placeholder="My Paycheck">
        </div>
        <div class="input_div">
            <label for="hourlyRate">Hourly Rate</label>
            <input name="hourlyRate" type="number" step=".01" required placeholder="35.25">
        </div>
        <div class="input_div">
            <label for="hoursPerWeek">Hrs/Week</label>
            <input name="hoursPerWeek" type="number" step="0.01" required placeholder="40">
        </div>
        <div class="input_div">
            <label for="taxRrate">Tax Rate %</label>
            <input name="taxRate" type="number" step="1" placeholder="15">
        </div>
        <div class="input_div">
            <label for="retirement">Retirement %</label>
            <input name="retirement" type="number" step="1" placeholder="7">
        </div>
        <button type="submit">Add</button>
    </form>
</div>
<%- include("./partials/incomePopEdit.ejs") %> 
<table>
    <thead>
        <tr>
            <td>Income Name</td>
            <td>Hourly Rate</td>
            <td>Hr/Week</td>
            <td colspan="2">Tax Rate</td>
            <td colspan="2">Retirement</td>
            <td>Gross income</td>
            <td>Net Income</td>
        </tr>
    </thead>
    <tbody>
        <% incomes.forEach(element => { %>
        <tr>
            <td><%= element.incomeName %></td>
            <td>$<%= element.hourlyRate.toFixed(2) %></td>
            <td><%= element.hoursPerWeek %> </td>
            <td >%<%= (element.taxRate * 100).toFixed(1)%></td>
            <td>$<%= utils.getTaxAmount(element).toFixed(2) %></td>
            <td>%<%= (element.retirement * 100).toFixed(1) %></td>
            <td>$<%= utils.getRetirementAmount(element).toFixed(2) %></td>
            <td>$<%= utils.getMonthlyGrossIncome(element).toFixed(2) %> </td>
            <td>$<%= utils.getMonthlyNetIncome(element).toFixed(2) %> </td>
            <td>
                <button class="editButton editButtonIncome" type="button"
                itmId="<%= element.id %>"
                name="<%= element.incomeName %>"
                hourlyRate="<%= element.hourlyRate %>"
                hoursPerWeek="<%= element.hoursPerWeek %>"
                taxRate="<%= element.taxRate %>"
                retirement="<%= element.retirement %>"
                >Edit</button>
            </td>
            <td>
            <form onsubmit="deleteIncomeItem(this)">
                <input name="deleteIncome" value="<%= element.id %>" hidden>
                <input name="deleteName" value="<%= element.incomeName %>" hidden>
                <button class="deleteBtn" type="submit">Delete</button>
            </form>
        </td>
        </tr>
       <% }); %> 
    </tbody>
</table>

<%- include("./partials/footer.ejs") %>
<script src="./js/forms.js"></script>
<script src="./js/incomeBtns.js"></script>