<%- include("./partials/header.ejs") %>
<%- include("./partials/nav.ejs") %>
<!-- Page should include * -->




<h1>Overview</h1>
<div class="overview-page">
<div class="stat monthTotals">
    <hr>
    <h2>This Month</h2>
    <table>
        <tr>
            <td>Spending</td>
            <td>$<span class="monthTotal" id="totalSpending">00.00</span></td>
        </tr>
        <tr>
            <td>Income</td>
            <td>$<span class="monthTotal" id="totalIncome">00.00</span></td>
        </tr>
        <tr>
            <td>Savings</td>
            <td>$<span class="monthTotal" id="totalSavings">00.00</span></td>
        </tr>
    </table>
</div>

<hr>
<!-- * any budget items this month that are %10 or less until out or over budget-->
<div class="watch criticalBudgetItems">
    <h2>Critical budget items</h2>
        <% if (!critBudgetItems || !critBudgetItems[0]) {%>
            <p>No critical budget items. Good job!</p>
        <% } else { %>
        <table>
            <tr>
                <th>Category</th>
                <th>Amount left</th>
            </tr>
            <% critBudgetItems.forEach(element => { %>
                <tr>
                    <td><%= element.category %></td>
                    <td>$<%= element.amountLeft %></td>
                </tr>
            <%}); %>
        </table>    
        <% } %> 
    
    <!-- going to be a table?? or just a list?? -->
</div>

<hr>
<!-- * stats: years total +- -->
<div class="stat yearSavings">
    <h2>This years savings</h2>
    <table>
        <tr>
            <td>Savings: </td>
            <td>$<span class="stat yearSavings data">00.00</span></td>
        </tr>
    </table>
    <!-- get all the spending and all the income from Date year, add up both and subtract -->
</div>

<hr>

<!-- * each month so far savings and losses. (could be a good opportunity for a graph??) -->
<div class="stats graph">
    <h2>Month to month graph</h2>
    <div id="graphChartDiv" class="stats graph"></div>
    
</div>

<hr>

<!-- * pie chart of spending for chosen month -->
<div class="stat pieChart">
    <h2>Spending this month</h2>
    <div id="pieChartDiv" class="stats pieChart" style="height: 500px;"></div>
</div>

</div>
<script type="text/javascript" src="https://code.jscharting.com/latest/jscharting.js"></script>
<script type="text/javascript" src="https://code.jscharting.com/latest/modules/types.js"></script>
<script src="./js/overview.js"></script>
<%- include("./partials/footer.ejs") %> 