<%- include("./partials/header.ejs") %>
<%- include("./partials/nav.ejs") %>
<!-- Page should include * -->




<h1>Overview</h1>

<div class="stat monthTotals">
    <h2>This Month</h2>
    <table>
        <tr>
            <td>Spending</td>
            <td>$<span class="monthTotal" id="totalSpending">00.00</span></td>
        </tr>
        <tr>
            <td>Income</td>
            <td>$<span class="monthTotal" id="totalIncome">00.00</span></td>
        </tr>
        <tr>
            <td>Savings</td>
            <td>$<span class="monthTotal" id="totalSavings">00.00</span></td>
        </tr>
    </table>
</div>

<hr>
<!-- * any budget items this month that are %10 or less until out or over budget-->
<div class="watch criticalBudgetItems">
    <h3>Critical budget items</h3>
    <ul>
        <li>category : remaining</li>
        <% if (!critBudgetItems) {%>
            <p>No Critical Budget Items. Good Job!</p>
        <% } %> 
        <% critBudgetItems.forEach(element => { %>
            <li><%= element.category %>: $<%= element.amountLeft %>  </li>
        <%}); %>
    </ul> 
    <!-- going to be a table?? or just a list?? -->
</div>

<hr>
<!-- * stats: years total +- -->
<div class="stat yearSavings">
    <h3>Savings for the whole year</h3>
    <p>This years savings: $<span class="stat yearSavings data">00.00</span></p>
    <!-- get all the spending and all the income from Date year, add up both and subtract -->
</div>

<hr>

<!-- * each month so far savings and losses. (could be a good opportunity for a graph??) -->
<div class="stats graph">
    <h3>Month to month graph</h3>
    <div id="graphChartDiv" class="stats graph"></div>
    
</div>

<hr>

<!-- * pie chart of spending for chosen month -->
<div class="stat pieChart">
    <h3>Spending this month</h3>
    <div id="pieChartDiv" class="stats pieChart" style="height: 500px;"></div>
</div>

<script type="text/javascript" src="https://code.jscharting.com/latest/jscharting.js"></script>
<script type="text/javascript" src="https://code.jscharting.com/latest/modules/types.js"></script>
<script src="./js/overview.js"></script>
<%- include("./partials/footer.ejs") %> 