<%- include("./partials/header.ejs"); %>
<%- include("./partials/nav.ejs"); %>

<!-- select a month -->
<!-- expenses/incomes can be pulled from database based on the month they are for -->
<h1><%= month %> </h1>
<p><%= budgets[1].category %> </p>
<input type="month" name="month" value="2021-07" onchange="submit"><!-- populate the table based on the date here defualt should be today -->
<div class="spending">
  <label for="spendingItem">spending</label>
  <form id="spendingItem" class="" action="/spendingItem" method="post">
    <input type="text" name="itemName" placeholder="name" required autofocus>
    <input type="number" step="0.01" name="amount" placeholder="ammount" required>
    <select name="category" form="spendingItem">
      <option value="0" default>uncategorized</option>

      <% budgets.forEach(element => { %> 
        <option value="<%= element.id %> "> <%= element.category %> </option>
      <% }); %>
      <!-- populates based on budget categories -->
    </select>
    <input type="date" name="date" value="<%= date %>" min="2010-01-01" max="<%= date %>"> <!-- max should be today -->
    <button type="submit" name="button">add</button>
  </form>

  <table>
    <thead>
      <tr>
        <td>Description</td>
        <td>amount</td>
        <td>category</td>
        <td>Date</td>
      </tr>
    </thead>
    <tbody>
      <% purchases.forEach(element => { %>
        <tr>
          <td><%= element.itmDescription %> </td>
          <td><%= element.ammount %> </td>
          <td><%= getCategoryName(budgets, element.category) %> </td>
          <td><%= formatDate(element.purchaseDate) %> </td>
        </tr>
      <%}); %> 
    </tbody>
  </table>
</div>


<div class="income">
  <label for="incomeItem">Income</label>
  <form id="incomeItem" action="/incomeItem" method="post">
    <input type="text" name="itemName" placeholder="name">
    <input type="number" step="0.01" name="amount" placeholder="amount">
    <input type="date" name="date" value="<%= date %>" min="2010-01-01" max="<%= date %>"> <!-- max should be today-->
    <button type="submit" name="button">add</button>
  </form>

  <table>
    <thead>
      <tr>
        <td>Description</td>
        <td>Amount</td>
        <td>Date</td>
      </tr>
    </thead>
    <tbody>
      <% deposits.forEach(element => { %>
        <tr>
          <td><%= element.inDescription %> </td>
          <td><%= element.ammount %> </td>
          <td><%= formatDate(element.depositDate) %> </td>
        </tr>
      <% }); %> 
    </tbody>
  </table>
</div>
