<%- include("./partials/header.ejs"); %>
<%- include("./partials/nav.ejs"); %>

<!-- select a month -->
<!-- expenses/incomes can be pulled from database based on the month they are for -->
<h1><%= month %> </h1>
<form action="/changeMonth" method="POST">
  <input id="changeMonthInput" type="month" name="month" value="<%= date.slice(0,7) %>" onChange="changeMonth()">
</form>
<p>Total spending: $<span class="monthTotal" id="totalSpending">00.00</span></p>
<p>Total income: $<span class="monthTotal" id="totalIncome">00.00</span></p>
<p>Savings: $<span class="monthTotal" id="totalSavings">00.00</span></p>
<!-- populate the table based on the date here defualt should be today -->
<div class="spending">
  <label for="spendingItem">Spending</label>
  <form id="spendingItem" class="" onsubmit="newSpendingItem(this)">
    <label for="itemName">Description</label>
    <input type="text" name="itemName" placeholder="name" required autofocus>
    <label for="amount">Amount</label>
    <input type="number" step="0.01" name="amount" placeholder="amount" required>
    <label for="category">Category</label>
    <select name="category" form="spendingItem">
      <option value="0" default>uncategorized</option>

      <% budgets.forEach(element => { %>
        <option value="<%= element.id %>"> <%= element.category %> </option>
      <% }); %>
      <!-- populates based on budget categories -->
    </select>
    <label for="date">Date</label>
    <input type="date" name="date" value="<%= date %>" min="2010-01-01" max="<%= today %>"> <!-- max should be today -->
    <button type="submit" name="button">add</button>
  </form>
  <%-  include("./partials/spendPopEdit", {budgets: budgets});  %>
  <table>
    <thead>
      <tr>
        <td>Description</td>
        <td>Amount</td>
        <td>Category</td>
        <td>Date</td>
      </tr>
    </thead>
    <tbody>
      <% purchases.forEach(element => { %>
        <tr>
          <td><%= element.itmDescription %> </td>
          <td class="spendingAmount">$<%= element.amount %> </td>
          <td><%= getCategoryName(budgets, element.category) %> </td>
          <td><%= formatDate(element.purchaseDate) %> </td>
          <td>
            <button class="editButton editBtnSpend"
            itmId = "<%= element.id %> "
            name = "<%= element.itmDescription %>"
            purchaseAmount="<%= element.amount %>"
            categoryId="<%= element.category %>"
            purchaseDate="<%= formatDate(element.purchaseDate) %>"
            >edit
          </button>
          </td>
          <td>
            <form onsubmit="deleteSpendingItem(this)">
              <input hidden name="deleteSpendingItm" value="<%= element.id %>">
              <button class="deleteBtn" type="submit">Delete</button>
            </form>
        </td>
        </tr>
      <%}); %>
    </tbody>
  </table>
</div>

<div class="deposit">
  <label for="depositItem">Deposits</label>
  <form id="depsitItem" onsubmit="newDepositItem(this)">
    <label for="itemName">Name</label>
    <input type="text" name="itemName" placeholder="name">
    <label for="amount">Amount</label>
    <input type="number" step="0.01" name="amount" placeholder="amount">
    <label for="date">Date</label>
    <input type="date" name="date" value="<%= date %>" min="2010-01-01" max="<%= today %>"> <!-- max should be today-->
    <button type="submit" name="button">Add</button>
  </form>
  <%- include("partials/depositPopEdit.ejs");%>
  <table>
    <thead>
      <tr>
        <td>Description</td>
        <td>Amount</td>
        <td>Date</td>
      </tr>
    </thead>
    <tbody>
      <% deposits.forEach(element => { %>
        <tr>
          <td><%= element.inDescription %> </td>
          <td class="incomeAmount">$<%= element.amount %> </td>
          <td><%= formatDate(element.depositDate) %> </td>
          <td>
            <button class="editButton editBtnDeposit"
            itmId = "<%= element.id %> "
            name = "<%= element.inDescription %>"
            incomeAmount="<%= element.amount %>"
            depositDate="<%= formatDate(element.depositDate); %>"
            >Edit
          </button>
          </td>
          <td>
            <form onsubmit="deleteDepositItem(this)">
            <input hidden name="deleteIncomeItm" value="<%= element.id %>">
            <button class="deleteBtn" type="submit" name="deleteBtn">Delete</button>
            </form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<div class="budgetProgress">
<!-- budget item progress. display current budget items statuses -->
<table>
  <thead>
    <tr>
      <td>Category</td>
      <td>budgeted</td>
      <td>spent</td>
      <td>left in budget</td>
    </tr>
  </thead>
  <tbody>
    <% budgets.forEach(element => { %>
      <tr catId="<%= element.id %>">
        <td class="catName"><%= element.category %></td>
        <td class="budgeted">$<%= element.budget.toFixed(2) %></td>
        <td class="spent">$</td>
        <td class="leftInBudget">$</td>
      </tr>
    <% }) %>  
  </tbody>
</table>
</div>
<%- include("./partials/footer.ejs"); %>
<script src="/js/forms.js"></script>
<script src="/js/thisMonthBtns.js"></script>
<script src="/js/thisMonthTotal.js" ></script>
