<!-- gets budgets, itmName, amount, categoryId, date -->
<div class="popup-container">
  <div id="popupEditSpending" class="popupEdit hidePopupEdit form_div">
      <form id="updateSpendingItem" class="updateForm" onsubmit="updateSpendingItem(this)">
        <p>Edit spending item</p>
          <input hidden class="itmId" name="itmId" value="0">
        <input class="editNameInput" type="text" name="itemName" placeholder="name" value="name" required autofocus>
        <input class="editAmountInput" type="number" step="0.01" name="amount" placeholder="amount" value="0" required>
        <select class="editCategoryInput" name="category" form="updateSpendingItem">
          <option value="0">uncategorized</option>

          <% budgets.forEach(element => { %>
            <option value="<%= element.id %>" name="<%= element.category %>" > <%= element.category %> </option> <!-- Make element.category the default-->
          <% }); %>
          <!-- populates based on budget categories -->
        </select>
        <input class="editDateInput" type="date" name="date" value="<%= date %>" min="2010-01-01" max="<%= today %>"> <!-- max should be today -->
        <button type="submit" name="save">Save</button>
        <button id="editCancelBtnSpending" type="button" name="cancel">Cancle</button>
      </form>

  </div>
</div>
